#  Data Preprocessing and Cleaning

###  Objective
This notebook performs **data cleaning, formatting, and resampling** on raw stock price data to prepare it for factor construction and model development.  

We will:
- Handle missing values and invalid entries  
- Align time indices for consistency  
- Resample to daily frequency  
- Save processed files for later use

In [5]:
import os

root = r"D:\Portfolio Optimzation project"
print(" Root exists:", os.path.exists(root))

print("\n Root contents:")
print(os.listdir(root))

scripts_path = os.path.join(root, "scripts")
print("\n Scripts folder exists:", os.path.exists(scripts_path))

if os.path.exists(scripts_path):
    print("\n Scripts folder contents:")
    print(os.listdir(scripts_path))

 Root exists: True

 Root contents:
['.git', '.gitattributes', '.gitignore', 'configs', 'environment.yml', 'logs', 'main.py', 'notebooks', 'processed_data', 'raw_data', 'README.md', 'reports', 'results', 'scripts', 'setup_structure.py', 'verification_summary.csv']

 Scripts folder exists: True

 Scripts folder contents:
['backtester.py', 'combine_factors.py', 'data_cleaner.py', 'data_loader.py', 'factor_builder.py', 'factor_builder_fundamental.py', 'generate_fundamentals.py', 'merge_processed_data.py', 'ml_model.py', 'portfolio_optimizer.py', 'stress_tester.py', 'tempCodeRunnerFile.py', 'utils.py', 'verify_all_processed_data.py', 'visualizer.py', '__init__.py', '__pycache__']

In [6]:
import os
print(" Current Working Directory:", os.getcwd())

 Current Working Directory: d:\Portfolio Optimzation project\notebooks

In [7]:
import os

root = r"D:\Portfolio Optimzation project"

print("Root exists:", os.path.exists(root))
print("\nRoot contents:")
for item in os.listdir(root):
    print("  ", item)

scripts_path = os.path.join(root, "scripts")
print("\nScripts folder exists:", os.path.exists(scripts_path))
if os.path.exists(scripts_path):
    print("Scripts contents:")
    for item in os.listdir(scripts_path):
        print("   ", item)

Root exists: True

Root contents:
   .git
   .gitattributes
   .gitignore
   configs
   environment.yml
   logs
   main.py
   notebooks
   processed_data
   raw_data
   README.md
   reports
   results
   scripts
   setup_structure.py
   verification_summary.csv

Scripts folder exists: True
Scripts contents:
    backtester.py
    combine_factors.py
    data_cleaner.py
    data_loader.py
    factor_builder.py
    factor_builder_fundamental.py
    generate_fundamentals.py
    merge_processed_data.py
    ml_model.py
    portfolio_optimizer.py
    stress_tester.py
    tempCodeRunnerFile.py
    utils.py
    verify_all_processed_data.py
    visualizer.py
    __init__.py
    __pycache__

In [8]:
import sys
for p in sys.path:
    if "Portfolio" in p:
        print("YES", p)

YES d:\Portfolio Optimzation project

In [10]:
import sys, os

project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

from scripts.data_cleaner import clean_and_resample_single, process_all_files
print(" Import successful!")

 Import successful!

In [3]:
print(clean_and_resample_single)
print(process_all_files)

<function clean_and_resample_single at 0x000001C055725750>
<function process_all_files at 0x000001C06D834160>

In [1]:
import sys, os

# Automatically detect project root (one level above notebooks/)
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Add to Python path
if project_root not in sys.path:
    sys.path.append(project_root)

print("Project root added:", project_root)
print("Scripts available:", os.listdir(os.path.join(project_root, "scripts")))

#  Correct import
from scripts.data_cleaner import clean_and_resample_single, process_all_files

print(" Import successful!")

Project root added: d:\Portfolio Optimzation project
Scripts available: ['backtester.py', 'combine_factors.py', 'data_cleaner.py', 'data_loader.py', 'factor_builder.py', 'factor_builder_fundamental.py', 'generate_fundamentals.py', 'merge_processed_data.py', 'ml_model.py', 'portfolio_optimizer.py', 'stress_tester.py', 'tempCodeRunnerFile.py', 'utils.py', 'verify_all_processed_data.py', 'visualizer.py', '__init__.py', '__pycache__']
 Import successful!

In [13]:
# ---- Imports ----
import pandas as pd
import os
from scripts.data_cleaner import clean_and_resample_single, process_all_files


# ---- Paths ----
raw_dir = r"D:\Portfolio Optimzation project\raw_data"
processed_dir = r"D:\Portfolio Optimzation project\processed_data"

os.makedirs(processed_dir, exist_ok=True)

##  Inspecting Raw Data

Let's inspect one of the raw CSV files to understand its structure and detect inconsistencies.

In [14]:
sample_file = os.path.join(raw_dir, "HINDUNILVR.csv")
df_raw = pd.read_csv(sample_file)
df_raw.head()

                        date    open    high     low   close  volume
0  2015-02-02 09:15:00+05:30  926.40  929.75  925.70  927.25   30575
1  2015-02-02 09:20:00+05:30  927.25  927.30  923.45  923.50   24702
2  2015-02-02 09:25:00+05:30  923.50  924.10  919.90  919.90   33259
3  2015-02-02 09:30:00+05:30  919.95  922.95  918.60  918.90   29020
4  2015-02-02 09:35:00+05:30  918.85  921.80  918.85  920.00   32847

### Observations:
- Columns likely include `Date`, `Open`, `High`, `Low`, `Close`, `Volume`
- Missing or irregular timestamps can exist
- We need to convert `Date` to datetime format and handle gaps

##  Cleaning and Resampling a Single Stock
We’ll use the `clean_and_resample_single()` function from our scripts to:
- Convert timestamps
- Remove duplicates
- Fill missing values via forward-fill
- Ensure consistent daily frequency

In [15]:
clean_and_resample_single(sample_file, processed_dir)

 Processed HINDUNILVR → D:\Portfolio Optimzation project\processed_data\HINDUNILVR_daily.csv

                          date    open     high      low    close   volume
0    2015-02-02 00:00:00+05:30   926.4   929.75   904.80   908.10  1821250
1    2015-02-03 00:00:00+05:30   910.5   930.35   908.00   912.75  1544230
2    2015-02-04 00:00:00+05:30   913.0   919.75   895.15   899.90  1180096
3    2015-02-05 00:00:00+05:30   905.1   919.80   901.20   908.50  1707727
4    2015-02-06 00:00:00+05:30   909.8   915.65   900.05   909.95   717231
...                        ...     ...      ...      ...      ...      ...
2587 2025-08-20 00:00:00+05:30  2599.0  2680.00  2588.50  2668.00  3150029
2588 2025-08-21 00:00:00+05:30  2667.1  2667.10  2627.30  2640.00  2229536
2589 2025-08-22 00:00:00+05:30  2647.0  2658.50  2619.00  2630.00  1219005
2590 2025-08-25 00:00:00+05:30  2643.0  2643.00  2615.20  2628.00   661545
2591 2025-08-26 00:00:00+05:30  2624.6  2705.00  2624.60  2693.80  4346960

[2592 rows x 6 columns]

###  Output Verification
Let’s check the processed data.

In [19]:
processed_file = os.path.join(processed_dir, "HINDUNILVR_daily.csv")
df_processed = pd.read_csv(processed_file, parse_dates=["date"])
df_processed.head()

                       date   open    high     low   close   volume
0 2015-02-02 00:00:00+05:30  926.4  929.75  904.80  908.10  1821250
1 2015-02-03 00:00:00+05:30  910.5  930.35  908.00  912.75  1544230
2 2015-02-04 00:00:00+05:30  913.0  919.75  895.15  899.90  1180096
3 2015-02-05 00:00:00+05:30  905.1  919.80  901.20  908.50  1707727
4 2015-02-06 00:00:00+05:30  909.8  915.65  900.05  909.95   717231

###  Summary Statistics Comparison
We'll compare basic statistics before and after processing.

In [21]:
summary = pd.DataFrame({
    "Raw_Count": [len(df_raw)],
    "Processed_Count": [len(df_processed)],
    "Missing_Close_Before": [df_raw['close'].isna().sum()],
    "Missing_Close_After": [df_processed['close'].isna().sum()]
})
summary

   Raw_Count  Processed_Count  Missing_Close_Before  Missing_Close_After
0     193563             2592                     0                    0

##  Bulk Processing of All Stocks
We'll now apply the same cleaning process to all files in the raw data directory.

In [ ]:
process_all_files(raw_dir, processed_dir)
print(" All files processed and saved to:", processed_dir)

###  Check one of the processed outputs again

In [24]:
import random

sample_processed = random.choice(os.listdir(processed_dir))
pd.read_csv(os.path.join(processed_dir, sample_processed)).head()

                        date    open    high     low    close    volume
0  2015-11-10 00:00:00+05:30   855.8   898.5  849.45   877.50  25407881
1  2015-11-11 00:00:00+05:30   887.0   935.0  880.10   935.00   3295698
2  2015-11-13 00:00:00+05:30   918.0  1032.0  918.00  1019.50   8437156
3  2015-11-16 00:00:00+05:30  1014.0  1040.0  966.25   988.75   3352188
4  2015-11-17 00:00:00+05:30   991.0  1049.6  976.20  1049.00   3688985

## Key Takeaways
- Data successfully cleaned and standardized  
- All stocks now share identical daily time indices  
- Missing data handled consistently  

**Next Step  Factor Construction (`02_factor_construction.ipynb`)**